{{.Service.Name.Title}}:
  name: {{.Service.Name.Title}}
  domain: github.com/codefly-dev/python-fastapi/{{.Service.Name.Title}}
ignores:
  - service.codefly.yaml
  - service.generation.codefly.yaml
  - __pycache__
  - poetry.lock
