# ✋ Welcome to the service agent python-fastapi

Some of the things this agent provides for you:

## Developer Experience
- poetry (use `poetry add <package>` to add a new package)
- hot-reload
- auto-generation of Swagger documentation

## Code
- OpenAPI

## Production ready
- docker build
- Kubernetes deployment
