Welcome to the service agent python-fastapi
Some of the things this agent provides for you:

## Developer Experience
- poetry
- hot-reload

## Code
- OpenAPI

## Production ready
- docker build
- Kubernetes deployment
