apiVersion: v1
kind: ConfigMap
metadata:
  name: config-{{ .Service.Name.DNSCase }}
  namespace: "{{ .Namespace }}"
data:
{{- range $key, $value := .Parameters.ConfigMap }}
  {{$key}}: "{{$value}}"
{{- end }}
