resources:
  - ../../base
  - configmap.yaml
  - secret.yaml
  {{ if .Deployment.Parameters.LoadBalancer.Enabled }}
  - virtualservice.yaml
  {{ end }}

images:
  - name: image:tag
    newName: {{.Image.Name}}
    newTag: {{.Image.Tag}}
