apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Service.Unique.DNSCase }}
spec:
  replicas: {{ .Replicas }}
  selector:
    matchLabels:
      app: {{ .Service.Unique.DNSCase }}
  template:
    metadata:
      labels:
        app: {{ .Service.Unique.DNSCase }}
    spec:
      containers:
        - name: {{ .Service.Unique.DNSCase }}
          image: image:tag
